/*.mycss{
 background-color: rgb(179, 29, 141);

}*/
button{
    background-color: aqua;
}
 

.myimage{
    background-image: url("./nani.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
}
input{
      width: 50px;
}
h1{
    color: rgb(135, 231, 135);
   
}